/* Footer */
footer {
    background-color: var(--color-fondo-footer);
    color: var(--color-texto-gris);
    padding: 2rem 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.footer-logo img {
    height: 2rem;
    width: 2rem;
}

.footer-logo span {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-texto-claro);
}

.footer-content p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}
